<h1> Enter Your Recipe</h1>
<form method="post" action="/recipes">
<p>Recipe name:<input type="text" name="name" value="name"></p>
<p>Recipe Ingredients:<input type="text" name="ingredients" value="ingredients"></p>
<p>Recipe Cook Time:<input type="text" name="cook_time" value="cook_time"></p>
<input type="submit" name="submit">
</form>