<h1>Enter Recipe</h1>

<form action="/recipes" method="post" style="display:flex; flex-direction:column; width:25%;">
    <label for="name">Recipe Name:</label>
    <input style="margin:0.2rem;" type="text" name="name" id="name"> 
    <label for="ingredients">Ingredients:</label>
    <input style="margin:0.2rem;" type="text" name="ingredients" id="ingredients">
    <label for="time">Cooking Time:</label>
    <input style="margin:0.2rem;" type="text" name="cook_time" id="cook_time">
    <input style="margin:0.2rem;" type="submit" value="submit">
</form>