<h1>Enter Your Recipe Below:</h1>

<form action="/recipes" method="post">
<h3>Recipe Name: <input type = "text" name= "name" placeholder= "Recipe Name"></h3>   
<p>Ingredients: <input type = "text" name= "ingredients" placeholder= "Ingredients"> </p>
<p>Cook Time: <input type = "text" name= "cook_time" placeholder= "Cook Time"> </p> 
<input type="submit" id="submit" value="Create Recipe!">
</form>