<h1>Add a Recipe</h1>

<form action="/recipes" method="POST">
  <h2>name <input type="text" name="name" id="name"> </h2>
  <h2>ingredients <input type="text" name="ingredients" id="ingredients"></h2>
  <h2>cook time <input type="time" name="cook_time" id="recipe_cook_time"></h2>
  <input type="submit" id="submit">
</form>