<h1>Here's your recipe</h1>
<h2><%=@recipe.name%></h2>
<p><%=@recipe.ingredients%></p>
<h3><%=@recipe.cook_time%></h3>
<form action="/recipes/<%= @recipe.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>